{% extends "./base.html" %}

{% block title %}
{% if tag %}
  标签页：{{tag.name}}
{% endif %}
{% if category %}
  分类页：{{category.name}}
{% endif %}
{% endblock %}

{% block main %}
<h3>博文</h3>
<ul>
    {% for post in post_list %}
    <li>
        <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>    
        <!-- "/post/{{post.id}}.html" -->
        <div>
            <span>作者:{{ post.owner.username }}</span>  
            <!--使用这种查询关系，会产生N+1问题 -->
            <span>分类：{{ post.category.name }}</span>

        </div>
        <p>{{ post.desc }}</p>

    </li>
    {% endfor %}
</ul>
{% endblock %}
